<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='MIDI contoroller pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title MIDI contoroller pug/scss animation
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap', type='text/css', rel='stylesheet')
        link(href='css/midi.css', type='text/css', rel='stylesheet')
    body
        .container#novation
            main
            #novation__content
                .novation__ttl NU MIDI Controller
                .novation__btn
                    .novation__btn--up
                    .novation__btn--down
                    .novation__btn--right
                    .novation__btn--left
                    .novation__btn--no1
                    .novation__btn--no2
                    .novation__btn--no3
                    .novation__btn--no4
                    .novation__btn--space
                .novation__btn--1
                    .adobe.novation__btn--pf
                      span Pf
                    .adobe.novation__btn--en
                      span En
                    .adobe.novation__btn--ps
                      span Ps
                    .adobe.novation__btn--ae
                      span Ae
                    .adobe.novation__btn--pr
                      span Pr
                    .adobe.novation__btn--ch
                      span Ch
                    .adobe.novation__btn--ic
                      span Ic
                    .adobe.novation__btn--id
                      span Id
                    .novation__btn--play
                .novation__btn--2
                    .adobe.novation__btn--xd
                      span Xd
                    .adobe.novation__btn--st
                      span St
                    .adobe.novation__btn--fl
                      span Fl
                    .adobe.novation__btn--an
                      span An
                    .adobe.novation__btn--ai
                      span Ai
                    .adobe.novation__btn--fs
                      span Fs
                    .adobe.novation__btn--br
                      span Br
                    .adobe.novation__btn--sp
                      span Sp
                    .novation__btn--play
                .novation__btn--3
                    .adobe.novation__btn--sy
                      span Sy
                    .adobe.novation__btn--fw
                      span Fw
                    .adobe.novation__btn--mu
                      span Mu
                    .adobe.novation__btn--dw
                      span Dw
                    .adobe.novation__btn--tl
                      span Tk
                    .adobe.novation__btn--cp
                      span Cp
                    .adobe.novation__btn--dn
                      span Dn
                    .adobe.novation__btn--rh
                      span Rh
                    .novation__btn--play
                .novation__btn--4
                    .adobe.novation__btn--au
                      span Au
                    .adobe.novation__btn--sg
                      span Sg
                    .adobe.novation__btn--pl
                      span Pl
                    .adobe.novation__btn--cf
                      span Cf
                    .adobe.novation__btn--lr
                      span Lr
                    .adobe.novation__btn--sc
                      span Sc
                    .adobe.novation__btn--fb
                      span Eb
                    .adobe.novation__btn--me
                        .novation__btn--me__inner
                            .novation__btn--me__left
                            .novation__btn--me__right
                    .novation__btn--play